.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_group {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.btn_group > button {
    font-size: 2rem;
}

.home_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.home_content_container {
    width: 30%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_menu_item {
    width: 100%;
    font-size: 1.5rem;
}
