body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}